.contactContainer {
  margin-top: -60px;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
    background-color: white;
    position: fixed;
  }
  
  .mailBtn {
    font-size: 2rem;
    text-decoration: none;
    transform: translateX(-100vw);
    animation: mailBtnAnimation 2s forwards;
    padding: 4px;

  }

  .mailBtn:hover {
    color: #eb4034;
  }
  
  @keyframes mailBtnAnimation {
    to {
      transform: translateX(0);
    }
  }

  @media(max-width:425px){
    .mailBtn{
      font-size: medium;
      margin-left: 4px;
      margin-right: 4px;
    }
  }