.container1 {
    padding: 1rem;
  }
  
  .heading {
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }
  
  .spinner {
    display: block;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #38bdf8;
    border-radius: 0.75rem;
    width: 600px;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .label {
    font-size: 1.25rem;
    margin-right: 1rem;
    color: #6b7280;
  }
  
  .input,
  .textarea {
    border: 2px solid #6b7280;
    padding: 0.5rem;
    width: 100%;
  }
  
  .textarea {
    min-height: 150px;
  }
  
  .save-button {
    padding: 0.5rem;
    background-color: #38bdf8;
    margin-top: 2rem;
  }

  @media(max-width:600px){
    .form-container{
      width: auto;
    }
  }
  