.welcome-text {
    font-size: 1.5rem; 
    margin-top: 1rem;  
    margin-bottom: 1rem;
    color: blue; 
  }
  
  .blog-title {
    font-size: 1.875rem; 
    margin-top: 2rem;    
    margin-bottom: 2rem;
  }
  
  .add-icon {
    color: #0369a1; 
    font-size: 2rem; 
    margin-left: 150px; 
  }
  
  .flex-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .page-padding {
    padding: 1rem; 
  }

  @media(max-width:425px){
    .add-icon-p{
      font-size: small;
    }
  }
  @media(max-width:375px){
    .add-icon{
      margin-left: 2px;
    }
    .add-icon-p{
      font-size: small;
      margin-left: 2px;
    }
  }
  